/* CSS Document */
/* Geral */
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    #464646;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #004755;
}
h1, .h1 {
    font-size: 38px;
}
h2, .h2 {
    font-size: 38px;
}
h3, .h3 {
    font-size: 28px;
}
 h4, .h4 {
    font-size: 21px;
}
h5, .h5 {
    font-size: 16px;
}
h6, .h6 {
    font-size: 12px;
}
@media (min-width: 1200px) {
    h1, .h1 {
    font-size: 50px;
}
h2, .h2 {
    font-size: 37px;
}
h3, .h3 {
    font-size: 28px;
}
h4, .h4 {
    font-size: 21px;
}
h5, .h5 {
    font-size: 16px;
}
h6, .h6 {
    font-size: 12px;
}
}
h2.titulo {
    background: url('../images/img-titulo-01.png') no-repeat left top;
    padding: 58px 0 16px 70px;
    position: relative;
    margin-bottom: 20px;
}
h2.titulo:after {
    background: #328280;
    content: "";
    height: 1px;
    left: 70px;
    position: absolute;
    bottom: 0px;
    width: 42px;
}

h2.titulo-2{
	background: url('../images/img-titulo-02.png') no-repeat left top;
    padding: 58px 0 16px 70px;
    position: relative;
    margin-bottom: 20px;
	color: #fff;

}
a, a:hover {
    text-decoration: none;
}
p {
    margin: 10px 0 20px;
    padding: 0 70px;
}
.margin60 {
    margin-top: -114px;
    margin-bottom: 60px;
}
.area-action {
    padding-top: 20px;
    margin: 0 70px;
    border-bottom: 3px solid #e5e9ea;
    text-align: right;
}
.area-action .buttom01 {
    width: 112px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #336c77;
    border-bottom: 3px solid #295e69;
    position: relative;
    bottom: -3px;
}
/*HEADER*/
header .cinza {
    width: 100%;
    height: 32px;
    background-color: #ccccd3;
    margin-bottom: 8px;
}
header .logo strong {
    position: absolute;
    top: -999em;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
    z-index: 100;
    display: none;
}
header .logo {
    float: left;
    margin: 0 16px 8px 25px;
    z-index: 100;
    position: relative;
}
header .menu {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    margin-top: 22px;
}
.menu li a {
    color: #328280;
    font-weight: 700;
}
.menu li.destaque a {
    color: #333;
}
.menu ul li a:hover {
    background: none;
    border-bottom: 6px solid #004755;
}
.navbar-toggle {
    background: #328280;
    border-radius: 0;
}
.navbar-toggle .icon-bar {
    background-color: #ffffff;
}
/*TRABALHOS*/
.trabalhos .box-trabalhos {
    position: relative;
    overflow: hidden;
}
.trabalhos .box-trabalhos .retina {
    width: 144px;
    height: 235px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../images/retina-servicos.png') no-repeat top right;
}
.trabalhos .box-trabalhos .area-titulo {
    padding: 10px;
    text-align: center;
    background-color: #004755;
}
.trabalhos .box-trabalhos .area-titulo h5 {
    color: #fff;
    margin: 0;
}
.banner-principal {
    margin-top: -100px;
}

.banner-secundario {
    margin-top: -100px;
}
/*RESOLVA RÁPIDO*/

.margin-lista {
	margin-left: 50px;	
}
.resolva-rapido {
    margin-top: 128px;
    background: #404040;
    padding: 0 0 70px;
}
.resolva-rapido .header {
    margin-top: 35px;
}
.resolva-rapido .header h2 {
    color: #fff;
}
.resolva-rapido .box {
    padding-top: 20px;
}
.resolva-rapido .boxcima {
    height: 159px;
    background: #328280;
    border-bottom: 2px solid #404040;
}
.resolva-rapido .boxbaixo {
    background: #fff;
    line-height: 50px;
    height: 50px;
	margin-bottom: 30px;
}
.resolva-rapido .boxbaixo .txt {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #328280;
    padding: 20px;
}
.resolva-rapido .boxcima img.icon {
    margin-left: 23px;
    margin-top: 41px;
}
.resolva-rapido .boxcima img.imagem {
    position: absolute;
    right: 15px;
	bottom: 82px;
}
.area-action-resolva-rapido {
    padding-top: 20px;
    margin: 0 70px;
    border-bottom: 2px solid #e5e9ea;
    text-align: right;
}
.area-action-resolva-rapido .buttom01 {
    margin-top: 20px;
    width: 112px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #336c77;
    border-bottom: 3px solid #295e69;
    position: relative;
    bottom: -3px;
}
.hoverzoom {
    overflow: hidden;
}
.hoverzoom > .imagem {
    border-radius: 2px;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom .retina {
    position: absolute;
    width: 61%;
    height: 66%;
    top: 0;
    right: 15px;
    opacity: 0;
    border-bottom: 0px solid #404040;
    background: none repeat scroll 0 0 rgba(50, 130, 128, 1.5);
    text-align: center;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover .retina {
    opacity: 1;
}
.hoverzoom .retina p {
    color: #fff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-top: 3px;
}
/*SOLICITE UM ORÇAMENTO*/
.orcamento {
    background: url(../images/background-01.png);
}
.header {
    margin-top: 35px;
}
form input.form-control {
    height: 57px;
    border: none;
    border-radius: 0;
}
form textarea.form-control {
    height: 175px;
    border: none;
    border-radius: 0;
}
form input.form-control.contato-input {
    background: #ccc;
}
form textarea.form-control {
    height: 175px;
    border: none;
    border-radius: 0;
}
form textarea.form-control.contato-textarea {
    background: #ccc;
}


.enviar-form {
    margin-bottom: 50px;
    width: 112px;
    height: 30px;
    background: #d6941a;
    color: #fff;
    border: none;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 30px;
}
.enviar-form:hover {
    background: #004755;
    color: #fff;
}
#mapa {
    height: 390px;
}
/*CONTATO*/
.contato {
    background: #004755;
    padding: 50px;
}
.contato h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
}
.contato ul li {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    list-style: none;
}
.contato ul li {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    list-style: none;
}
.contato ul {
    margin-top: 30px;
}
.contato ul li {
    margin-bottom: 18px;
}
.contato ul li i, span .end {
    margin-right: 10px;
}
img.banner {
    width: 100%;
}
ul.endereco{
    list-style: none;
 
}
ul.endereco li a{
   color: #fff;	
}
ul.endereco li {
    margin-bottom: 10px;
}

ul.lista-contato {
	list-style: none;	
}

.lista-contato li a {
	color: #333;
}

/*NOTÍCIAS*/
ul.noticias {
    list-style: none;
}
ul.noticias li:nth-child(2n-1) {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #339999;
}
ul.noticias li:nth-child(2n) {
    border-bottom: 1px solid #328280;
}
/*NOSSOS TRABALHOS*/
.row1 img {
    width: 100%;
    border-bottom: 4px solid #fff;
}
.row1 .titulo {
    width: 100%;
    height: 60px;
    background: #004755;
    text-align: center;
    margin-bottom: 30px;
}
.row1 .titulo span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}
.row2 img {
    width: 100%;
    border-bottom: 4px solid #fff;
}
.row2 .titulo {
    width: 100%;
    height: 60px;
    background: #004755;
    text-align: center;
    margin-bottom: 30px;
    word-break: break-all;
}
.row2 .titulo span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}
.hoverzoom-trabalhos {
    overflow: hidden;
}
.hoverzoom-trabalhos .retina-trabalhos {
    position: absolute;
    width: 90%;
    height: 63%;
    top: 0;
    right: 15px;
    opacity: 0;
    background: none repeat scroll 0 0 rgba(50, 130, 128, 1.5);
    border-bottom: 2px solid #fff;
    text-align: center;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom-trabalhos:hover .retina-trabalhos {
    opacity: 1;
}
.retina-trabalhos img {
    width: 100px;
    border: none;
    margin-top: 35px;
}
.active {
    display: block !important }
.texto p.sub-titulo, span.sub-titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.texto h2 {
    color: #339999;
    margin: 10px 0 20px;
    padding: 0 70px;
    text-transform: uppercase;
}
.thumb-icone-param-01 {
    background: url(../images/trabalhos/trabalhos-icon-parag-01.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-param-02 {
    background: url(../images/trabalhos/trabalhos-icon-parag-02.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-param-03 {
    background: url(../images/trabalhos/trabalhos-icon-parag-03.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-param-04 {
    background: url(../images/trabalhos/trabalhos-icon-parag-04.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-param-05 {
    background: url(../images/trabalhos/trabalhos-icon-parag-05.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-param-06 {
    background: url(../images/trabalhos/trabalhos-icon-parag-06.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-param-07 {
    background: url(../images/trabalhos/trabalhos-icon-parag-07.png) no-repeat 0 0;
    padding-left: 35px }
 .thumb-icone-param-08 {
    background: url(../images/trabalhos/trabalhos-icon-parag-08.png) no-repeat 0 0;
    padding-left: 35px }
/********************/
/*RESOLVA RÁDPIOD*/
.box-img {
    height: 157px;
    background: #339999;
	position:relative;
}
.box-img img {
    width: 100px;
    border: none;
	top: 50%;
    margin-top: -40px;
    left: 50%;
	margin-left: -50px;
	position: absolute
}
.box-resolva:hover .box-img{
    background: #004755;
}

.row1 .titulo {
    width: 100%;
    height: 60px;
    background: #004755;
    text-align: center;
    margin-bottom: 30px;
}
.row1 .titulo h4 a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}

.thumb-icone-resolva-01 {
    background: url(../images/resolva-rapido/resolva-icon-parag-01.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-resolva-02 {
    background: url(../images/resolva-rapido/resolva-icon-parag-02.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-resolva-03 {
    background: url(../images/resolva-rapido/resolva-icon-parag-03.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-resolva-04 {
    background: url(../images/resolva-rapido/resolva-icon-parag-04.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-resolva-05 {
    background: url(../images/resolva-rapido/resolva-icon-parag-05.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-resolva-06 {
    background: url(../images/resolva-rapido/resolva-icon-parag-06.png) no-repeat 0 0;
    padding-left: 35px }
.thumb-icone-resolva-07 {
    background: url(../images/resolva-rapido/resolva-icon-parag-07.png) no-repeat 0 0;
    padding-left: 35px }
 .thumb-icone-resolva-08 {
    background: url(../images/resolva-rapido/resolva-icon-parag-08.png) no-repeat 0 0;
    padding-left: 35px }
/********************/
/*TRABALHE CONOSCO*/
ul.vagas li {
    text-decoration: none;
    list-style: none;
    height: 57px;
    width: 100%;
    background: #928c8c;
    margin-bottom: 7px;
}
ul.vagas li:hover {
    background: #339999;
}
ul.vagas li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 57px;
    padding: 22px;
}
ul.vagas-itens {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    list-style: none;
}
.cabecalho {
    background: #004755;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.cabecalho h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
    margin-left: 20px;
}
.formulario {
    background: #ccc;
    margin-bottom: 200px;
}
.formulario h5, label, select {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #333;
    margin-left: 20px;
    float: left;
}
.formulario input {
    margin-left: 15px;
}
.send-form {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    background: #928c8c;
    height: 57px;
    line-height: 57px;
    border: none;
    margin-top: 25px;
}
.table {
    background: #ccc;
}
.candidatar {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background: #339999;
    border: none;
    color: #fff;
    text-transform: uppercase;
}
input[type="file" i]: : -webkit-file-upload-button, button {
    background: #339999;
    border: none;
    color: #fff;
}



/********************/
/*FOOTER*/
.footer {
    background: #00212e;
    min-height: 60px;
    padding: 10px 0;
    text-align: left;
}
.footer .copy {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    color: #FFF;
    vertical-align: middle;
    margin: 8px 0 5px;
}
.footer .logo-iguana {
    display: inline-block;
    position: relative;
    width: 93px;
    height: 30px;
    float: right;
    background-image: url(../images/iguana-logo-white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    vertical-align: middle;
    margin: 0;
}
.buttom-top {
    display: block;
    position: fixed;
    bottom: 11%;
    width: 100%;
    z-index: 0;
}
.buttom-top.active .go-top {
    opacity: 1;
    z-index: 999;
}
.go-top {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 3%;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
/*QUEM SOMOS*/
ul.lista {
    margin-left: 50px;
}
h4 p {
    color: #333;
}
h4 p span {
    color: #333;
}


/*telas de largura máxima 411px*/
@media screen and (min-width: 320px) and (max-width: 639px){
	header .logo{
	    margin: 0px 16px 8px 0px;
	}
	.logo img{
	    width: 160px;
	    margin-bottom: 55px;
	}
	
    .navbar-collapse.collapse.in{
		margin-bottom: 55px;
	}
	.menu li a {
	z-index: 9999;
	}
	img.banner {
    	height: 100px;
	}
	.margin60{
		margin-top: 0px;
	}
	h2.titulo{
		font-size: 30px;
	}
	
	p{
		padding: 0 20px;
		font-size: 14px;
	}
	h2.titulo-2{
		font-size: 24px;
	}
	
	.banner-secundario{
		margin-top: 0px;
	}
	
	.area-action{
		margin: 0;
	}
	
	.area-action-resolva-rapido {
	    margin: 0px 15px;
	}
	
	.boxcima p{
		color: #fff;
		font-size: 13px;
	    padding: 17px;
	}
	
	.resolva-rapido .boxbaixo{
		line-height: 45px;
	}
	.resolva-rapido .boxbaixo .txt{
		font-size: 10px;
	}
	
	.enviar-form {
    	margin-top: 30px;
	}
		
	.contato {
    	padding: 0px;
	}
	
	ul.endereco li {
    	font-size: 14px;
	}
	ul.endereco li a{
		color: #fff;
	}
	
	ul.lista{
		font-size: 14px;
	}
	
	ul.vagas-itens{
	    font-size: 14px;	
	}
	
	.formulario{
	    font-size: 14px;
	}
	
	#mapa{
		margin-bottom: 70px;
	}
	
	.footer .copy {
	    font-size: 13px;
	}
	
	
	/*Quem Somos*/
	.margin-lista{
		font-size: 14px;
		margin-left: 0px;
	}
	
	/*Resolva rapido*/
	.box-img img{
		width: 100px !important;
	    border: none;
	}
	
	/*Contato*/
	ul.lista-contato{
		font-size: 14px;
	}
}
/*telas de largura máxima 360px*/
@media screen and (min-width: 640px){
	header .logo{
	    margin: 0px 16px 8px 0px;
	}
	.navbar-collapse.collapse.in{
		margin-bottom: 55px;
	}
	.menu li a {
	z-index: 9999;
	}
	.margin60{
		margin-top: 0px;
	}
	.banner-secundario {
    margin-top: 0px;
}
	.boxcima p{
		color: #fff;
		font-size: 20px;
	    padding: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
 header .logo {
    width: 100%;
    float: none;
    margin-left: -10px;
}
 header .logo img {
    display: block;
    margin: 0 auto;
	width: 280px;
    margin-bottom: 120px;
}


ul.menu li > a:hover {
    background: transparent;
    border-bottom: 3px solid #004755;
}
 .navbar .navbar-nav {
    margin-bottom: 80px;
}
 .navbar-toggle {
    position: relative;
    float: right;
    padding: 20px;
    margin-top: -150px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #336c77;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 100;
}


.box-trabalhos {
    margin-bottom: 10px;
}
.box-trabalhos img {
    width: 100%;
}
.hoverzoom-trabalhos .retina-trabalhos {
    width: 100%;
    height: 236px;
}

ul.endereco li a{
	color: #fff;
}
.enviar-form {
    margin-top: 30px;
}

}
